<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931951361532-cmnnm7duhalretf82ag2paogpkl6cfp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931951361532-cmnnm7duhalretf82ag2paogpkl6cfp9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>931951361532-cicm6mobqhp83cdpfqg7h62drfngb3nm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUyD4PHABxCChzG2Ib9b1cro6LqBITRmI</string>
	<key>GCM_SENDER_ID</key>
	<string>931951361532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.joaopaulovieira.splitit</string>
	<key>PROJECT_ID</key>
	<string>split-it-62d32</string>
	<key>STORAGE_BUCKET</key>
	<string>split-it-62d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931951361532:ios:d9074e7d82968021244679</string>
</dict>
</plist>